* {
    font-family: 'Rubik', sans-serif;
    list-style: none; 
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20pt;
    padding-right: 20pt;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15pt;
    font-weight: 500;
}

.brand-name {
    font-weight: 600;
    font-size: 20pt;
}


.navbar > li {
    padding: 20px;
}

.navbar > li > a {
    text-decoration: none;
    color: white;
    font-style: Bold;
}

.login-btn {
    padding: 20px;
    background-color: red;
}

.main-article {
    padding: 2rem 6%;
}

.button {
    display: inline-flex;
    height: 70px;
    padding: 0;
    background:#4b4b4b46;
    border: none;
    outline: none;
    border-radius: 25px;
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.button_text, .button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 35px;
    color: #000000;
    height: 100%;
}

.button_icon {
    font-size: 30pt;
    background: #3a3a3a62;
}

.heading {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.main-article .row {
    display: flex;
    align-items: center;
    background: #0000;
    flex-wrap: wrap;
}

.main-article .row .image {
    flex: 1 1 45rem;
}

.main-article .row .image img {
    width: 100%;
}

.main-article .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
    text-align: justify;
}

.main-article .row .content h3 {
    font-size: 35px;
    color: #000000;
    
}

.main-article .row .content p{
    font-size: 1.6rem;
    color: #2b2b2bcc;
    padding: 1rem 0;
    line-height: 1.8;
}

.blog-parents {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px rgba(0, 0, 0, 0.05);
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    border: 1px solid #ececec;
    background-color: #ffff;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto; 
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text .blog-text-title {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.button-sub {
    display: inline-flex;
    height: 35px;
    padding: 0;
    background:#4b4b4b46;
    border: none;
    outline: none;
    border-radius: 25px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.button_text-sub, .button_icon-sub {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: #000000;
    height: 100%;
}

.button_icon-sub {
    font-size: 16pt;
    background: #3a3a3a62;
}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 15px;
    word-spacing: 1.5pt;
    font-size: 18pt;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #9999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #2222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #9999;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #9999;
}

.contact .info li a {
    color: #9999;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #9999;
}
  
  